 <h1>New Album</h1>

 <%= form_with model: @album do |form| %>
 	<div>
 		<%= collection_select(:album, :artist_id, Artist.all, :id, :name, prompt: true) %>
 		<% @album.errors.full_messages_for(:artist_id).each do |message| %>
 			<div><%= message %></div>
 		<% end %>
 	</div>
 	<div>
 		<%= form.label :title %>
 		<br />
 		<%= form.text_field :title %>
 		<% @album.errors.full_messages_for(:title).each do |message| %>
 			<div><%= message %></div>
 		<% end %>
 	</div>
 	<div>
 		<%= form.submit %>
 	</div>
 <% end %>
